body {
  background-image: url(../anhbtl/pexels-blaque-x-932638.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: Arial;
}
button a{
  text-decoration: none;
  color: #fff9f9;
}
div img {
  width: 300px;
}
.list-group-item div {
  display: flex;
  justify-content: space-between;
}
span{
    color: #e7f0f9;
    font-size: 20px;
}
.back-home a{
    text-decoration: none;
    color: #e7f0f9;
    font-size: 18px;
}
.back-home a:hover{
    color:red
}
.dropbtn {
  background-color: #212529;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content li {
  list-style-type: none;
  display: block;
}

.dropdown-content a {
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  text-align: left;
}
.dropbtn img {
  width: 45px;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #212529;
}
.dropdown-content li:hover {
  background-color: rgb(199, 13, 44);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.movie-info li:first-child {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fffdff;
  font-weight: 400;
}
.movie-info {
  padding-bottom: 18px;
  background-color:rgba(0,0,0,0.5);
  margin: 0 2%;
  border-radius: 3%;
  padding: 5px 15px;
}
.movie-info li{
  position: relative;
  padding-bottom: 10px;
  list-style: none;
}
.movie-detail li{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #e7f0f9;
}
li .phan-loai {
  font-size: 16px;
  font-weight: bold;
  color: #f8090f;
}
li .col-left{
    padding-left: 0;
    position: absolute;
    top:0;
    left: 0;
}
li .col-right{
    padding-left: 80px;
}
.movie-detail li{
    list-style-type: none;
}
.back-home{
    padding-top: 15px;
    padding-left: 10px;
}
.btn{
  margin-top: 10px;
  margin-left: 85px;
 
}
